[Unit]
Description=WildFly application server
After=network.target

[Service]
Type=simple
Environment=JAVA={{jdk_basedir}}/{{jdk_version}}/bin/java
User=jboss
Group=jboss
ExecStart={{wildfly_home}}/bin/standalone.sh

[Install]
WantedBy=multi-user.target
